
div(id='readical_player_'+audio.page style='position: fixed; bottom: 0; width: 100%;') 
    audio(id='readical_audio_'+audio.page src=audio.src controls="" preload="metadata" style='width:100%')

div(id='readical_subtitles_'+audio.page)
    each spanArray, pKey in syncData
        p
            each spanMeta, index in syncData[pKey]
                span(id=spanMeta.id, class=spanMeta.class) #{spanMeta.word}


